{% extends "base.html" %}
{% load i18n %}

{% block title %}
    {% trans "Add user" %}
{% endblock %}

{% block content %}
    <h1>{% trans "Add user to the" %} {{ project }} {% trans "project" %}:</h1>
    <form action="{% url 'webapp:project_add_user' project.pk %}" class="mt-5" method="post">
        {% csrf_token %}
        <label>
            {% trans "Input username:" %}
            <input class="form-control" type="text" name="user_id">
        </label>
        <button class="btn btn-primary">{% trans "Submit" %}</button>
    </form>
    <p class="error_msg">{{ error }}</p>
{% endblock %}