{% extends "base.html" %}
{% block title %}{{ user_obj.username }}'s profile{% endblock %}
{% block content %}
    <h1>{{ user_obj.username }}'s profile</h1>
    {% if user_obj.profile.avatar %}
        <img class="avatar" src="{{ user_obj.profile.avatar.url }}" width="250">
    {% else %}
        <img class="avatar" src="https://pa1.narvii.com/6406/44636fa8fa6911b454828100d653c1e2a428a422_hq.gif" width="250">
    {% endif %}
    <p class="mt-4"><b>Username:</b> {{ user_obj.username }}</p>
    {% if user_obj.first_name %}
    <p><b>First name:</b> {{ user_obj.first_name }}</p>
    {% endif %}
    {% if user_obj.last_name %}
    <p><b>Last name:</b> {{ user_obj.last_name }}</p>
    {% endif %}
    <p><b>Email:</b> {{ user_obj.email }}</p>
    {% if user_obj.profile.github_link %}
    <p><b>Github page:</b> <a href="{{ user_obj.profile.github_link }}">{{ user_obj.profile.github_link }}</a></p>
    {% endif %}
    {% if user_obj.profile.aboout %}
    <h2>About me:</h2>
    <p>{{ user_obj.profile.about }}</p>
    {% endif %}
    <h3 class="text-center m-4">My projects: </h3>
    {% include "partial/project_list.html" %}
    {% include "partial/pagination.html" %}
{% endblock %}