{% extends "base.html" %}
{% block content %}
    <table class="table">
  <thead class="bg-primary text-white">
    <tr>
      <th scope="col">{% trans "id" %}</th>
      <th scope="col">{% trans "Username" %}</th>
      <th scope="col">{% trans "Email" %}</th>
    </tr>
  </thead>
  <tbody>
  {% for user in users_list %}
    <tr>
      <th scope="row">{{ user.pk }}</th>
      <td><a href="{% url "accounts:profile" user.pk %}">{{ user.username }}</a></td>
      <td>{{ user.email }}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>
    {% include "partial/pagination.html" %}
{% endblock %}