{% extends "base.html" %}
{% load i18n %}

{% block title %}
    {% trans "Delete project" %}
{% endblock %}

{% block content %}
        <div class="container">
            <h1 class="text-center">{% trans "Are you sure want to delete project" %} "{{ project.project_name }}"?</h1>
            <form method="POST" action="{% url "webapp:project_delete" project.pk %}" class="text-center">
            {% csrf_token %}
                <div class="row">
                    <div class="col text-center">
                            <p><input class="btn btn-primary btn-lg btn-block mt-3" type="submit" value="{% trans "Yes" %}"></p>
                            <p><input class="btn btn-secondary btn-lg btn-block" type="button" value="{% trans "No" %}" onclick='location
                            .href="{% url "webapp:project_list"%}"'></p>
                    </div>
                </div>
            </form>
        </div>
{% endblock %}